<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<iframe 
  [src]="chartSafeUrl" 
  (load)="onIframeLoad()" 
  style="width: 100%; height: 500px; border: none;">
</iframe>
<!-- <div class="chart-container">
  @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

  @if (chartSafeUrl) {
    <iframe 
    [src]="chartSafeUrl" 
    width="100%" 
    height="800px" 
    frameborder="0"
    sandbox="allow-scripts allow-same-origin">
  </iframe>  
  }
</div> -->
